/* Color styles */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

/* Color styles */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

$basefont: "Roboto", sans-serif;

$text-color: rgb(27, 112, 240);
$text-primary-color: white;
$text-secondary-color: red;

$shadow-primary-color: black;

$background-4th-color: #ababaf;
$background-tertiary-color: #6a6a6b;
$background-secondary-color: #414141;
$background-primary-color: #212529;
$background-zero-color: #000000;

$active-primary-color: rgb(161, 22, 22);
$active-secondary-color: rgb(206, 77, 77);
$active-tertiary-color: rgb(189, 129, 129);

$basefont: "Roboto", sans-serif;

// Frontend variables from the Logo

$blu-scuro: #021826;
$azzurro: #04c4d9;
$giallo: #f2d95c;
$arancione-chiaro: #f2d95c;
$arancione-scuro: #d98825;
