/* Color styles */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

$basefont: "Roboto", sans-serif;

$text-color: rgb(27, 112, 240);
$text-primary-color: white;
$text-secondary-color: red;

$shadow-primary-color: black;

// Frontend variables from the Logo

$background-4th-color: #ecca6d;
$background-tertiary-color: #e6b42c;
$background-secondary-color: #bb952e;
$background-primary-color: #d98825;
$background-zero-color: #b6791d;

$active-primary-color: rgb(22, 161, 149);
$active-secondary-color: rgb(140, 228, 206);
$active-tertiary-color: rgb(193, 214, 216);

$basefont: "Roboto", sans-serif;
