/* Color styles */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

/* Color styles */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

$basefont: "Roboto", sans-serif;

$text-color: rgb(27, 112, 240);
$text-primary-color: white;
$text-secondary-color: red;

$shadow-primary-color: black;

$active-primary-color: rgb(161, 22, 22);
$active-secondary-color: rgb(206, 77, 77);
$active-tertiary-color: rgb(189, 129, 129);

$basefont: "Roboto", sans-serif;

// Frontend variables from the Logo

$background-4th-color: #021826;
$background-tertiary-color: #04c4d9;
$background-secondary-color: #f2d95c;
$background-primary-color: #f2d95c;
$background-zero-color: #d98825;
